# AWS S3 Configuration
# Copy this file to S3.env and provide your AWS credentials
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET=securevault-naitik-files-2026
AWS_REGION=eu-north-1
